<div class="container align-items-center mt-4">
    <div class="form-group col-sm-4 m-auto">
        <form action="/login" id="form" method="POST">
            <div class="form-group">
                <p>Iniciar Sesión</p>
                <input type="text" class="form-control" name="username" id="username" placeholder="username" autofocus>
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
                <input type="submit" class="form control btn btn-success btn-block" value="Iniciar">
                <a href="/signup" class="form-control btn btn-primary btn-block" id="signup">Registrarse</a>
            </div>
        </form>
        
    </div>
</div>