<div class="container align-items-center mt-4">
    <div class="form-group col-sm-4 m-auto">
        <form action="/signup" id="form" method="POST">
            <div class="form-group">
                <p>Registrarse</p>
                <input type="text" class="form-control" name="username" id="username" placeholder="username" autofocus>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="phone">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
                <input type="submit" class="btn btn-success btn-block" value="Registrarse">
            </div>
        </form>
    </div>
</div>